<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>K HOSPITAL</title>
    <title>Appointment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <h1>K HOSPITAL</h1>
    <%- include('includes/nav.ejs')%>
    <h2>Available DOCTORS</h2>
    <div class="container">
        <% if (error.length > 0) { %>
        <div class="alert alert-danger text-center" role="alert">
            <%= error %>
        </div>
        <% } %>
        <form class="form-inline" method="POST">
            <div class="input-group mx-sm-3 mb-2 mr-3">
                <input type="search" class="form-control" placeholder="Enter Name or specialization" name="searchText"
                    value="<%= input %>">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                </div>
            </div>
        </form>
        <table class="table table-hover table-sm table-bordered">
            <thead>
                <tr class="bg-primary">
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone No</th>
                    <th scope="col">specialization</th>
                </tr>
            </thead>
            <tbody>
                <% for (doctor of doctors) { %>
                <tr class="table-primary">
                    <td><%= doctor.did %></td>
                    <td><%= doctor.dname %></td>
                    <td><%= doctor.daddress %></td>
                    <td><%= doctor.pno %></td>
                    <td><%= doctor.specialization %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
<%-include('includes/end.ejs') %>

</html>